@(searchForm: Form[controllers.Search.ClassSearch])
@import helper.twitterBootstrap._
@import helper._

@main("Find your class") {
<div class="row">
    <div class="span6 offset3">
        <div id="typeahead" class="input-group col-lg-1 col-offset-6 centered">
            <input class="form-control" type="text" placeholder="Classname" size="100" maxlength="100">
        </div>
    </div>
</div>
}{
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("typeahead.bundle.min.js"))'></script>
<script type="text/javascript" src="@routes.JsRouter.javascriptRoutes"></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/bloodhound.js")'></script>
}