@(searchForm: Form[controllers.Search.ClassSearch])
@import helper.twitterBootstrap._
@import helper._

@main("Find your class") {
<div class="row">
    <div class="span6 offset3">
        <div id="typeahead" class="input-group">
            <span class="glyphicon glyphicon-search"></span>
            <input class="typeahead" type="text" placeholder="Classname">

        </div>
    </div>
</div>
}{
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("typeahead.bundle.min.js"))'></script>
<script type="text/javascript" src="@routes.JsRouter.javascriptRoutes"></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/bloodhound.js")'></script>
}